[Desktop Entry]
Name=KCall Call Window Part
Name[km]=ផ្នែក​បង្អួច​នៃ​ការ​ហៅ​របស់ KCall
Name[pt]=Componente da Janela de Chamadas do KCall
Name[pt_BR]=Componente da Janela de Chamadas do KCall
Name[sv]=Kcall-samtalsfönsterdel
Name[uk]=Модуль вікна дзвінка KCall
Name[x-test]=xxKCall Call Window Partxx
X-KDE-ServiceTypes=KParts/Part
X-KDE-Library=kcall_callwindowpart
Type=Service
