[Desktop Entry]
Name=General
Name[pt]=Geral
Name[sv]=Allmänt
Name[uk]=Загальне
Name[x-test]=xxGeneralxx
Icon=internet-telephony
Exec=kcmshell4 kcm_kcallsettings
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kcallsettings
X-KDE-ParentApp=kcall
