[Desktop Entry]
Name=General
Name[da]=Generelt
Name[en_GB]=General
Name[eo]=Ĝenerala
Name[es]=General
Name[pt]=Geral
Name[ro]=General
Name[ru]=Общие
Name[sv]=Allmänt
Name[tr]=Genel
Name[uk]=Загальне
Name[x-test]=xxGeneralxx
Icon=internet-telephony
Exec=kcmshell4 kcm_kcallsettings
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kcallsettings
X-KDE-ParentApp=kcall
