[Desktop Entry]
Name=Devices
Icon=audio-card
Exec=kcmshell4 kcm_kcalldevices
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kcalldevices
X-KDE-ParentApp=kcall
