[Desktop Entry]
Name=Devices
Name[da]=Enheder
Name[es]=Dispositivos
Name[pt]=Dispositivos
Name[ro]=Dispozitive
Name[ru]=Устройства
Name[sv]=Enheter
Name[tr]=Aygıtlar
Name[uk]=Пристрої
Name[x-test]=xxDevicesxx
Icon=audio-card
Exec=kcmshell4 kcm_kcalldevices
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kcalldevices
X-KDE-ParentApp=kcall
